.orders-create{
    background-color: #F9F9F9;
    text-align: center;
}

.order{
    display: flex;
    justify-content: center;
    align-items: center;
}

.order__details{
    margin-top: 40px;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-width: 60%;
    background-color: white;
}

.order__details__title{
    text-align: left;
    padding-left: 0px !important;
}

.order__details__place{
    margin-bottom: 0px;
}

.modal-content{
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 20px;
    padding-bottom: 20px;
}